# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
*/dist/
build/
*/build/

# Environment variables & secrets
.env
.env.local
.env.*.local
*.env

# Temporary & Archive files
*.tar.gz
bff_base64.txt
scratch/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
